@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@75,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600;700;800&display=swap");

/**************************************** GLOBAL *********************************************/

/* global styling constants */
:root {
	--clr-signode-red: #b73f27;
	--clr-hover-dark-red: #802d1d;

	--ff-open-sans: "Open Sans", sans-serif;
	--ff-source-sans: "Source Sans 3", sans-serif;
}

* {
	/* default font */
	font-family: var(--ff-source-sans);
	font-weight: 500;
}

.main-heading {
	font-family: var(--ff-open-sans);
	font-size: 50px;
}

.sub-heading {
	font-family: var(--ff-source-sans);
	color: var(--clr-signode-red);
	font-style: italic;
}

.text-content {
	font-family: var(--ff-source-sans);
	font-size: 18px;
	font-weight: 400;
	color: rgb(51, 51, 51);
}

.divider-dash {
	height: 5px;
	width: 60px;
	background-color: var(--clr-signode-red);
	margin-top: 15px;
	margin-bottom: 20px;
}

.hyperlink {
	color: white;
	text-decoration: underline;
}

/************************************ JOB CARDS *************************************/

#jobs-section .card {
	background-color: white;
}

#jobs-section .card-body {
	margin: 15px;
	border: none;
}

#jobs-section .card .card-body .card-title {
	color: black;
	font-family: var(--ff-open-sans);
	font-size: 27px;
}

#jobs-section .card .card-body .card-subtitle {
	font-family: var(--ff-source-sans);
	font-weight: 400;
	font-size: 15px;
	padding-bottom: 13px;
}

#jobs-section .card .card-body .card-text {
	font-family: var(--ff-source-sans);
	font-weight: 400;
	font-size: 16px;
	padding-bottom: 13px;
}

/* buttons */
#jobs-section .card .card-body .apply-button {
	border: none;
	background-color: var(--clr-signode-red);
	color: white;
	font-family: var(--ff-source-sans);
	font-weight: 500;
	font-size: 15px;
	width: 120px;
	border-radius: 5px;

	margin-right: 10px;
	margin-bottom: 15px;

	padding-top: 8px;
	padding-bottom: 8px;
}

#jobs-section .card .card-body .apply-button:hover {
	background-color: var(--clr-hover-dark-red);
}

#jobs-section .card .card-body .view-button {
	border: none;
	background-color: #c6c6c6;
	color: black;
	font-family: var(--ff-source-sans);
	font-weight: 500;
	font-size: 15px;
	width: 120px;
	border-radius: 5px;

	margin-right: 10px;
	margin-bottom: 15px;

	padding-top: 8px;
	padding-bottom: 8px;
}


#jobs-section .card .card-body .view-button:hover {
	background-color: #969696;
}

#jobs-section .card .card-body .date-text {
	font-family: var(--ff-source-sans);
	font-weight: 400;
	font-size: 14px;
	color: rgb(100, 100, 100);
}

/* RESPONSIVE BREAKPOINTS */

@media (min-width: 768px) and (max-width: 991px) {
	.card-columns {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}

@media (max-width: 767px) {
	.card-columns {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}

