@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@75,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;500;600;700&display=swap');

/**************************************** GLOBAL *********************************************/

/* global styling constants */
:root {
	--clr-signode-red: #b73f27;
	--clr-grey-background: #fafafa;

	--ff-open-sans: "Open Sans", sans-serif;
	--ff-source-sans: "Source Sans 3", sans-serif;
}

* {
	/* default font */
	font-family: var(--ff-source-sans);
	font-weight: 500;
}

body {
	background-color: white;
}

.main-heading {
	font-family: var(--ff-open-sans);
	font-size: 50px;
}

.sub-heading {
	font-family: var(--ff-source-sans);
	color: var(--clr-signode-red);
	font-style: italic;
}

.text-content {
	font-family: var(--ff-source-sans);
	font-size: 18px;
	font-weight: 400;
	color: rgb(51, 51, 51);
}

.divider-dash {
	height: 5px;
	width: 60px;
	background-color: var(--clr-signode-red);
	margin-top: 15px;
	margin-bottom: 20px;
}

.hyperlink {
	color: white;
	text-decoration: underline;
}

/************************************ BLOCKQUOTE *************************************/

.blockquote{
	background: var(--clr-signode-red);
	padding-top: 70px;
	padding-bottom: 70px;
	color: white;
	font-style: italic;
}

.blockquote p{
	font-weight: 300;
	font-size: 22px;
}

.divider-dash-white{
	height: 4px;
	width: 50px;
	background-color: white;
	margin-top: 25px;
	margin-bottom: 20px;
}

/************************************ VIDEO *************************************/

.venobox{
	position: relative;
}

.play-button{
	position: absolute;
	font-size: 75px;
	/* color: var(--clr-signode-red); */
	color: white;
	margin: 0;
	top: 50%; 
	left: 50%; 
	/* the transformation accounts for the width and height of the icon itself */
	transform: translate(-50%,-50%);

}

.venobox-placeholder-image{
	border: 1px solid rgb(204, 204, 204);
	border-radius: 10px;
}

.venobox:hover .venobox-placeholder-image{
	filter: brightness(60%);
	transition: filter 0.2s;
}

/************************************ SERVICES *************************************/

.service-heading{
	font-weight: 600;
}

.service-text{
	padding: 50px;
}

.service-image{
	padding: 0;
	object-fit: cover;
}

.service-image img{
	object-fit: cover;
}

