/**************************************** GLOBAL *********************************************/

/* global styling constants */
:root{
	--clr-signode-red: #b73f27;
	--clr-hover-dark-red: #802d1d;

	--ff-open-sans: "Open Sans", sans-serif;
	--ff-source-sans: "Source Sans 3", sans-serif;
}

* {
	/* default font */
	font-family: var(--ff-source-sans);
	font-weight: 500;
}

.main-heading {
	font-family: var(--ff-open-sans);
	font-size: 50px;
}

.sub-heading {
	font-family: var(--ff-source-sans);
	color: var(--clr-signode-red);
	font-style: italic;
}

.text-content {
	font-family: var(--ff-source-sans);
	font-size: 18px;
	font-weight: 400;
	color: rgb(51, 51, 51);
}

.divider-dash {
	height: 5px;
	width: 60px;
	background-color: var(--clr-signode-red);
	margin-top: 15px;
	margin-bottom: 20px;
}

.hyperlink {
	color: white;
	text-decoration: underline;
}


/************************************ NAVIGATION BAR ONE *************************************/

/* background and text */
#navbar-one-custom {
	background-color: var(--clr-signode-red);
	display: flex;
	justify-content: space-between;
	color: white;
}

#navbar-one-custom .navbar-text,
.fa-solid {
	font-size: 13px;
}

/* social media icon spacing */
#navbar-one-custom .fa-youtube {
	padding-left: 15px;
}

/* show navbar one for desktop */
@media screen and (min-width: 992px) {
	#navbar-one-custom {
		display: block;
	}
}

/* hide navbar one for mobile */
@media screen and (max-width: 991px) {
	#navbar-one-custom {
		display: none;
	}
}


/************************************ NAVIGATION BAR TWO *************************************/

/* NAVBAR STYLES */
/* navbar background*/
#navbar-two-custom {
	background-color: black;
}

/* dropdown menu*/
#navbar-two-custom .dropdown-menu{
	background-color: black;
	/* margin when clicking a navbar category */
	margin-top: 9px;
	border-radius: 0;
	padding: 0;
}

/* dropdown menu appears while hovering only for desktop screen size */
@media screen and (min-width: 992px) {
	#navbar-two-custom .nav-item:hover .dropdown-menu{
		display: block;
		margin-top: 0; 
		padding-top: 9px;
	}
}

/* categories on navbar (home, company, industries, etc.) */
#navbar-two-custom .nav-link {
	font-family: var(--ff-open-sans);
	color: white;
	border-bottom: 4px solid transparent;
}

#navbar-two-custom .nav-link:hover {
	color: var(--clr-signode-red);
}

/* red bottom border only appears for non-dropdown items */
@media screen and (min-width: 992px) {
	#navbar-two-custom .nav-link.hover-border:hover {
		border-bottom: 4px solid var(--clr-signode-red);
	}
}


/* NAVBAR DROPDOWN STYLES */
#navbar-two-custom .nav-item .dropdown-menu .dropdown-item {
	font-family: var(--ff-source-sans);
	font-size: 15px;
	color: white;
	font-weight: 500;
	padding: 7px 15px;
}

#navbar-two-custom .nav-item .dropdown-menu .dropdown-item:hover {
	/* override built in hover styling */
	background-color: black;
	color: var(--clr-signode-red);

}

#navbar-two-custom .nav-item .dropdown-menu:last-child {
	padding-bottom: 7px;
}


/* navbar toggler */
#navbar-two-custom .navbar-toggler {
	border: none;
}

.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2.5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/************************************ NAVIGATION BAR SEARCH *************************************/

/* SEARCH BOX DESKTOP */
/* entire search box */
#search-box-desktop {
	position: relative;
	padding: 0;
}

/* expandable input box */
#search-input {
	position: relative;
	border: none;
	outline: none;
	background: none;
	padding-right: 70px;
	z-index: 3;
	cursor: pointer;
	
  /* initial width is 0, until you click search icon */
  width: 0px;
	transition: width 0.5s cubic-bezier(0, 0.795, 0, 1);
	
	/* inputted text */
	font-size: 16px;
	color: white;
}

/* width of search bar expands once we click the search icon */
#search-input:focus {
  /* expanded width */
  width: 400px;
  z-index: 1;
  border-bottom: 1px solid white;
  cursor: text;
}

#search-input:focus:hover {
	border-bottom: 1px solid rgb(218, 218, 218);
}

/* placeholder text */
#search-input::placeholder {
	font-size: 16px;
	color: rgb(218, 218, 218);
}

/* search icon */
#search-submit {
	width: 63px;
	background: url(../images/partials/search-icon.svg) center center no-repeat;
	text-indent: -10000px;
	outline: none;
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	cursor: pointer;
}

/* SEARCH BOX MOBILE */
#search-box-mobile{
	margin-bottom: 15px;
}

#search-box-mobile input{
	margin-right: 5px;
	border: none;
	padding: 10px;
}

#search-box-mobile button{
	background-color: var(--clr-signode-red);
	color: white;
	border: none;
}

#search-box-mobile button:hover{
	background-color: var(--clr-hover-dark-red);
	border: none;
}

#search-box-mobile button:active{
	border: none;
	box-shadow: none;
}


/* RESPONSIVE BREAKPOINTS: WHICH SEARCH BOX TO DISPLAY */
@media screen and (min-width: 992px) {
	#search-box-desktop {
		display: "";
	}

	#search-box-mobile {
		display: none;
	}
}

@media screen and (max-width: 991px) {
	#search-box-mobile {
		display: "";
	}

	#search-box-desktop {
		display: none;
	}
}

/* RESPONSIVE BREAKPOINTS: LENGTH OF EXPANDED SEARCH BAR ANIMATION */
@media screen and (min-width: 992px) and (max-width: 1199px){
	#search-input:focus {
		/* expanded width */
		width: 710px;
	}
}

@media screen and (min-width: 1200px) {
	#search-input:focus {
		/* expanded width */
		width: 890px;
	}
}



/************************ DESKTOP FOOTER *************************************/
footer {
	background-color: black;
}

.footer-font-size {
	font-size: 13px;
}

.card{
	background-color: black;
}

.linkedin-icon {
	font-size: 30px;
	color: white;
}

.youtube-icon {
	font-size: 30px;
	color: white;
}

.fa-phone{
	font-size: 10px;
}

/************************************ MOBILE FOOTER *************************************/
.card-header .title {
    font-size: 17px;
}

.card-header .accicon {
  float: right;
  font-size: 20px;  
  width: 1.2em;
}

.card-header{
  cursor: pointer;
  border-bottom: none;
}

.card{
  border-bottom: 1px solid #ddd;
}

.card-body{
  border-top: 1px solid #ddd;
}

.card-header:not(.collapsed) .rotate-icon {
  transform: rotate(180deg);
}



/************************************ RESPONSIVE CSS FOR FOOTER *************************************/	  
/* entire footer */
@media screen and (min-width: 768px) {
	.desktop {
		display: "";
	}
	.mobile {
		display: none;
	}
}
	  
@media screen and (max-width: 769px) {
	.desktop {
		display: none;
	}
	.mobile {
		display: "";
	}
}

/* small fixes for spacing and formatting */
@media screen and (min-width: 993px) {
	.md-screen {
		display: none;
	}
	.other-screen {
		display: "";
	}
}
	
@media screen and (max-width: 992px) {
	.md-screen {
		display: "";
	}

	.other-screen {
		display: none;
	}
}