@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@75,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600;700;800&display=swap");

/**************************************** GLOBAL *********************************************/

/* global styling constants */
:root{
	--clr-signode-red: #b73f27;

	--ff-open-sans: "Open Sans", sans-serif;
	--ff-source-sans: "Source Sans 3", sans-serif;
}

* {
	/* default font */
	font-family: var(--ff-source-sans);
	font-weight: 500;
}

.main-heading {
	font-family: var(--ff-open-sans);
	font-size: 50px;
}

.sub-heading {
	font-family: var(--ff-source-sans);
	color: var(--clr-signode-red);
	font-style: italic;
}

.text-content {
	font-family: var(--ff-source-sans);
	font-size: 18px;
	font-weight: 400;
	color: rgb(51, 51, 51);
}

.divider-dash {
	height: 5px;
	width: 60px;
	background-color: var(--clr-signode-red);
	margin-top: 15px;
	margin-bottom: 20px;
}

.hyperlink {
	color: white;
	text-decoration: underline;
}

/************************************ BREADCRUMB *************************************/
.breadcrumb{
	background-color: transparent;
	padding: 0;
	margin-bottom: 5px;
}

.breadcrumb .breadcrumb-item a{
	color: var(--clr-signode-red);
	font-size: 18px;
	font-style: italic;
}

.breadcrumb .breadcrumb-item.active{
	color: var(--clr-signode-red);
	font-size: 18px;
}

/************************************ SPECIFIC PRODUCTS *************************************/

.description{
	font-size: 17px;
	color:rgb(83, 83, 83);
}

.page-label{
	font-family: var(--ff-open-sans);
}

#specific-products-section .card{
	background-color: white;
}