@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@75,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600;700;800&display=swap");

/**************************************** GLOBAL *********************************************/

/* global styling constants */
:root{
	--clr-signode-red: #b73f27;

	--ff-open-sans: "Open Sans", sans-serif;
	--ff-source-sans: "Source Sans 3", sans-serif;
}

* {
	/* default font */
	font-family: var(--ff-source-sans);
	font-weight: 500;
}

.main-heading {
	font-family: var(--ff-open-sans);
	font-size: 50px;
}

.sub-heading {
	font-family: var(--ff-source-sans);
	color: var(--clr-signode-red);
	font-style: italic;
}

.text-content {
	font-family: var(--ff-source-sans);
	font-size: 18px;
	font-weight: 400;
	color: rgb(51, 51, 51);
}

.divider-dash {
	height: 5px;
	width: 60px;
	background-color: var(--clr-signode-red);
	margin-top: 15px;
	margin-bottom: 20px;
}

.hyperlink {
	color: white;
	text-decoration: underline;
}

/************************************ ABOUT *************************************/

#mission-vision-section h3.heading{
    font-family: var(--ff-open-sans);
	font-size: 30px;
}

#mission-vision-section p.text{
	font-family: var(--ff-source-sans);
	font-size: 16px;
	font-weight: 400;
	color: rgb(51, 51, 51);
}




/************************************ VALUES *************************************/

#values-section{
	background-image: url("/images/about-page/truck-background.png");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 80px;
}

#values-section .sub-heading{
	color: white;
}

#values-section .main-heading{
	color: var(--clr-signode-red);
}

#values-section .values-icons{
	width: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: -20;
	transform: translate(-10px);
}

#values-section h3{
	color: white;
	font-size: 20px;
}

#values-section p{
	color: white;
	font-size: 16px;
	font-weight: 300;
}


