@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@75,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600;700;800&display=swap");

/**************************************** GLOBAL *********************************************/

/* global styling constants */
:root{
	--clr-signode-red: #b73f27;

	--ff-open-sans: "Open Sans", sans-serif;
	--ff-source-sans: "Source Sans 3", sans-serif;
}

* {
	/* default font */
	font-family: var(--ff-source-sans);
	font-weight: 500;
}

.main-heading {
	font-family: var(--ff-open-sans);
	font-size: 50px;
}

.sub-heading {
	font-family: var(--ff-source-sans);
	color: var(--clr-signode-red);
	font-style: italic;
}

.text-content {
	font-family: var(--ff-source-sans);
	font-size: 18px;
	font-weight: 400;
	color: rgb(51, 51, 51);
}

.divider-dash {
	height: 5px;
	width: 60px;
	background-color: var(--clr-signode-red);
	margin-top: 15px;
	margin-bottom: 20px;
}

.hyperlink {
	color: white;
	text-decoration: underline;
}


/************************************ INDUSTRIES *************************************/

#industry-gallery .industry-button:hover{
	box-shadow: 0 10px 20px 3px rgb(232, 232, 232) !important;
	transition: box-shadow 0.35s;
}

.gallery-text {
	font-family: var(--ff-open-sans);
	color: black;
	font-size: 18px;
}

#industry-gallery .gallery-text:hover{
	color: var(--clr-signode-red);
	text-decoration: none;
}