<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- external stylesheet -->
    <link rel="stylesheet" href="css/styles-partials.css" />

    <title>Signode Canada</title>
</head>

<body>
    <!-- ******************************* NAVIGATION BAR TWO ************************************** -->
                
    <nav class="navbar navbar-expand-lg navbar-dark ml-auto sticky-top" id="navbar-two-custom"> 
        <div class="container">
            <!-- logo -->
            <a class="navbar-brand" id="hide-brand-logo">
                <img src="images/partials/signode-logo.png" alt="" width="180" />
            </a>
    
            <!-- responsive navigation menu -->
            <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <!-- navbar items -->
            <div class="collapse navbar-collapse ml-auto justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0" id="hide-navbar-items">
                    <li class="nav-item px-2">
                        <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                    </li>
    
                    <li class="nav-item dropdown px-2">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Company </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="about.html">About Us</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="brands.html">Brands</a>
                            </li>
                            <li><hr class="dropdown-divider" /></li>
                            <li>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </li>
                        </ul>
                    </li>
    
                    <li class="nav-item dropdown px-2">
                        <a class="nav-link active" aria-current="page" href="industries.html">Industries</a>
                    </li>
    
                    <li class="nav-item dropdown px-2">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Products </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="#">Action</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Another action</a>
                            </li>
                            <li><hr class="dropdown-divider" /></li>
                            <li>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </li>
                        </ul>
                    </li>
    
                    <li class="nav-item dropdown px-2">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Solutions </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="#">Action</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Another action</a>
                            </li>
                            <li><hr class="dropdown-divider" /></li>
                            <li>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </li>
                        </ul>
                    </li>
    
                    <li class="nav-item px-2">
                        <a class="nav-link active" aria-current="page" href="contact.html">Contact</a>
                    </li>
      
                </ul>
    
    <!-- search bar: desktop version -->
    <div id="search-box-desktop" >
      <form class="d-flex align-items-center" autocomplete="off">
        <!-- expandable input box -->
        <input id="search-input" type="text" placeholder="What are you looking for?" onfocus="navSearchFocus()" onblur="navSearchBlur()">
        <!-- search icon -->
        <input id="search-submit">
      </form>
    </div>

</div>

</div>
</nav>

<!-- ******************************* JAVASCRIPT ************************************** -->

<!-- Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>




