<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- external stylesheet -->
    <link rel="stylesheet" href="css/styles-partials.css" />

    <title>Signode Canada</title>
    
</head>

<body>
    <!-- ******************************* NAVIGATION BAR TWO ************************************** -->
                
    <nav class="navbar navbar-expand-lg navbar-dark ml-auto sticky-top" id="navbar-two-custom"> 
        <div class="container">
            <!-- logo -->
            <a class="navbar-brand pr-4" id="hide-brand-logo" href="index.html" >
                <img src="images/partials/signode-logo.png" alt="" width="180"/>
            </a>
    
            <!-- responsive navigation menu -->
            <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <!-- navbar items -->
            <div class="collapse navbar-collapse ml-auto justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0" id="hide-navbar-items">
    
                    <!-- navbar item -->
                    <li class="nav-item dropdown pr-4">

                        <!-- to hold dropdown menu open when clicking a navlink: -->
                        <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false"> Company </a> -->

                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" aria-expanded="false"> Company </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <!-- dropdown menu item -->
                            <li>
                                <a class="dropdown-item" href="about.html">About Us</a>
                            </li>

                            <!-- dropdown menu item -->
                            <li>
                                <a class="dropdown-item" href="brands.html">Brands</a>
                            </li>

                            <!-- dropdown menu item -->
                            <li>
                                <a class="dropdown-item" href="careers.html">Careers</a>
                            </li>
                        </ul>
                    </li>
    
                    <!-- navbar item -->
                    <li class="nav-item dropdown pr-4">
                        <a class="nav-link dropdown-toggle" href="industries.html" id="navbarDropdown" role="button" aria-expanded="false"> Industries </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <!-- dropdown menu item -->
                            <li>
                                <a class="dropdown-item" href="about.html">Metals</a>
                            </li>

                            <!-- dropdown menu item -->
                            <li>
                                <a class="dropdown-item" href="specific-products.html">Corrugated & Paper</a>
                            </li>

                            <!-- dropdown menu item -->
                            <li>
                                <a class="dropdown-item" href="careers.html">Empty Container</a>
                            </li>

                            <!-- dropdown menu item -->
                            <li>
                                <a class="dropdown-item" href="about.html">Pharma</a>
                            </li>

                            <!-- dropdown menu item -->
                            <li>
                                <a class="dropdown-item" href="brands.html">Food</a>
                            </li>

                            <!-- dropdown menu item -->
                            <li>
                                <a class="dropdown-item" href="careers.html">Beverage</a>
                            </li>

                            <!-- dropdown menu item -->
                            <li>
                                <a class="dropdown-item" href="about.html">Fiber & Textile</a>
                            </li>

                            <!-- dropdown menu item -->
                            <li>
                                <a class="dropdown-item" href="brands.html">Construction</a>
                            </li>

                            <!-- dropdown menu item -->
                            <li>
                                <a class="dropdown-item" href="careers.html">Wood Products</a>
                            </li>

                            <!-- dropdown menu item -->
                            <li>
                                <a class="dropdown-item" href="careers.html">Printing & Mail</a>
                            </li>

                            <!-- dropdown menu item -->
                            <li>
                                <a class="dropdown-item" href="about.html">Distribution</a>
                            </li>

                            <!-- dropdown menu item -->
                            <li>
                                <a class="dropdown-item" href="brands.html">Bagged Products</a>
                            </li>

                            <!-- dropdown menu item -->
                            <li>
                                <a class="dropdown-item" href="careers.html">General Manufacturing <br> & Engineering</a>
                            </li>
                        </ul>
                    </li>
    
                   <!-- navbar item -->
                   <li class="nav-item dropdown pr-4">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" aria-expanded="false"> Products </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <!-- dropdown menu item -->
                        <li>
                            <a class="dropdown-item" href="about.html">Case Packaging</a>
                        </li>

                        <!-- dropdown menu item -->
                        <li>
                            <a class="dropdown-item" href="brands.html">Protective</a>
                        </li>

                        <!-- dropdown menu item -->
                        <li>
                            <a class="dropdown-item" href="careers.html">Stapling Systems</a>
                        </li>

                        <!-- dropdown menu item -->
                        <li>
                            <a class="dropdown-item" href="about.html">Strapping Systems</a>
                        </li>

                        <!-- dropdown menu item -->
                        <li>
                            <a class="dropdown-item" href="brands.html">Stretch Systems</a>
                        </li>

                        <!-- dropdown menu item -->
                        <li>
                            <a class="dropdown-item" href="careers.html">Warehouse Automation</a>
                        </li>

                    </ul>
                </li>

                <!-- navbar item -->
                <li class="nav-item dropdown pr-4">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" aria-expanded="false"> Solutions </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <!-- dropdown menu item -->
                        <li>
                            <a class="dropdown-item" href="about.html">Pack</a>
                        </li>

                        <!-- dropdown menu item -->
                        <li>
                            <a class="dropdown-item" href="brands.html">Bundle</a>
                        </li>

                        <!-- dropdown menu item -->
                        <li>
                            <a class="dropdown-item" href="careers.html">Unitize</a>
                        </li>

                        <!-- dropdown menu item -->
                        <li>
                            <a class="dropdown-item" href="about.html">Warehouse</a>
                        </li>

                        <!-- dropdown menu item -->
                        <li>
                            <a class="dropdown-item" href="brands.html">Transport</a>
                        </li>

                    </ul>
                </li>

                    <li class="nav-item pr-4">
                        <a class="nav-link active hover-border" aria-current="page" href="services.html">Services</a>
                    </li>

                    <li class="nav-item pr-4">
                        <a class="nav-link active hover-border" aria-current="page" href="automation.html">Automation</a>
                    </li>
    
                    <li class="nav-item pr-4">
                        <a class="nav-link active hover-border" aria-current="page" href="contact.html">Contact</a>
                    </li>
      
                </ul>

            <!-- ******************************* SEARCH BOXES ************************************** -->

            <!-- search bar: desktop version -->
            <div id="search-box-desktop" >
            <form class="d-flex align-items-center" autocomplete="off">
                <!-- expandable input box -->
                <input id="search-input" type="text" placeholder="What are you looking for?" onfocus="navSearchFocus()" onblur="navSearchBlur()">
                <!-- search icon -->
                <input id="search-submit">
            </form>
            </div>

            <!-- search bar: mobile version -->
            <div id="search-box-mobile">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="What are you looking for?" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>

            

        </div>

    </div>
</nav>

<!-- ******************************* JAVASCRIPT ************************************** -->

<script src="js/search-bar.js"></script>

</body>
</html>




